{% extends "includes/layout.html" %}
{% block title %}
Sonar Tools - Dashboard
{% endblock %}

{% block extra_css %}
<style>
  #legend {
  width: 400px;
  /* border: 1px solid #eee; */
  margin-left: 440px;
  margin-bottom:50px;
}

#legend .legend-item {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: inline;
}

#legend .legend-item .legend-value {
  font-size: 12px;
  font-weight: normal;
  margin-left: 22px;
}

#legend .legend-item .legend-marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#legend .legend-item.disabled .legend-marker {
  opacity: 0.5;
  background: #ddd;
}
</style>
{% endblock %}

{% block content %}

<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">

    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}

                  <!-- <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div> -->

                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {% if category == 'danger' %}
                    <span class="alert-icon"><i class="fas fa-exclamation-circle"></i></span>
                    {% else %}
                    <span class="alert-icon"><i class="far fa-check-circle"></i></span>
                    {% endif %}
                    <span class="alert-text">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

              {% endfor %}
          {% endif %}
        {% endwith %}

    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <!-- <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6> -->
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a href="/dashboard_pdfLoad" class="btn btn-sm btn-neutral">Create PDF</a>
          <a href="#" class="btn btn-sm btn-neutral">Create Executable File</a> -->
        </div>
      </div>
<!-- Card stats -->
<div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-muted mb-0" style="white-space: nowrap;width: 100px;">Total Projects Scanned </h5>
              <span class="h2 font-weight-bold mb-0" id="projects">{{ numOfProjects }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                <i class="fas fa-folder-open"></i>
              </div>
            </div>
          </div>
          <!-- <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-muted mb-0">Bugs</h5>
              <span class="h2 font-weight-bold mb-0" id="bugs">{{ bugs }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                <i class="fas fa-bug"></i>
              </div>
            </div>
          </div>
          <!-- <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-muted mb-0">Vulnerabilties</h5>
              <span class="h2 font-weight-bold mb-0" id="vulnerabilities">{{vulnerabilities}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                <i class="fas fa-unlock"></i>
              </div>
            </div>
          </div>
          <!-- <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-muted mb-0">Code Smells</h5>
              <span class="h2 font-weight-bold mb-0" id="codeSmells">{{ codeSmells }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                <i class="fas fa-radiation-alt"></i>
              </div>
            </div>
          </div>
          <!-- <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
<div class="col-xl-8">
  <div class="card bg-default">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
          <h5 class="h3 text-white mb-0">Total number of issues for each project</h5>
        </div>
        <div class="col">
          <ul class="nav nav-pills justify-content-end">
            <!-- <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
              <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                <span class="d-none d-md-block">Month</span>
                <span class="d-md-none">M</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
              <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                <span class="d-none d-md-block">Week</span>
                <span class="d-md-none">W</span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <span style="display: none;" id="horizontalChartData">{{horizontalChartData}}</span>
    <div class="card-body">
      <!-- Chart -->
      <div class="chart" style="height: {{horizontalChartData[0]|length * 33}}px;">
        <!-- Chart wrapper -->
        <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4">
  <div class="card">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-uppercase text-muted ls-1 mb-1">Type of errors</h6>
          <h5 class="h3 mb-0">Total Number For Each Type</h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Chart -->
      <div class="chart" style="height: {{horizontalChartData[0]|length * 33}}px;">
        <canvas id="chart-doughnut" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-xl-8">
  <div class="card" style="max-height: 500px;">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Hotspots, duplications & coverage percentages</h3>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Project name</th>
            <th scope="col">Hotspots Percentage</th>
            <th scope="col">Coverage Percentage</th>
            <th scope="col">Duplications Percentage</th>
          </tr>
        </thead>
        <tbody>
          {% for i in projs %}
          <tr>
            <th scope="row">
              {{i["projectName"]}}
            </th>
            <td>
              {{i["hotspotPercentage"]}}%
            </td>
            <td>
              {{i["coverage"]}}%
            </td>
            <td>
              <!--<i class="fas fa-arrow-up text-success mr-3"></i>--> {{i["duplicatePercentage"]}}%
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-xl-4">
  <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Languages</h3>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Languages</th>
            <th scope="col">No. of projects</th>
            <th scope="col">Percentage</th>
          </tr>
        </thead>
        <tbody>
          {% for i in languages.keys() %}
          <tr>
            <th scope="row">
              {% if i == "cs" %}
              C#
              {% elif i =="css"  %}
              CSS
              {% elif i =="js"  %}
              JavaScript
              {% elif i =="web"  %}
              HTML
              {% elif i =="ruby"  %}
              Ruby
              {% elif i =="vbnet"  %}
              VB.NET
              {% elif i =="xml"  %}
              XML
              {% else %}
              {{i}}
              {%endif%}
            </th>
            <td>
              {{languages[i][0]}}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">{{languages[i][1] |round|int}}%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{languages[i][1]}}%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          <!-- <tr>
            <th scope="row">
              Facebook
            </th>
            <td>
              5,480
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">70%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Google
            </th>
            <td>
              4,807
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">80%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Instagram
            </th>
            <td>
              3,678
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">75%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              twitter
            </th>
            <td>
              2,645
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="mr-2">30%</span>
                <div>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card bg-default" style="height: 900px;">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
            <h5 class="h3 text-white mb-0" id="title">Total number of bugs for each project</h5>
          </div>
          <div class="col">
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a href="#" class="nav-link py-2 px-3 active change" data-toggle="tab" id="click1">
                  <span class="d-none d-md-block">Reliability</span>
                  <span class="d-md-none">M</span>
                </a>
              </li>
              <li class="nav-item" >
                <a href="#" class="nav-link py-2 px-3 change" data-toggle="tab" id="click2">
                  <span class="d-none d-md-block">Security</span>
                  <span class="d-md-none">W</span>
                </a>
              </li>
              <li class="nav-item" >
                <a href="#" class="nav-link py-2 px-3 change" data-toggle="tab" id="click3">
                  <span class="d-none d-md-block">Maintability</span>
                  <span class="d-md-none">W</span>
                </a>
              </li>
              <li class="nav-item" >
                <a href="#" class="nav-link py-2 px-3 change" data-toggle="tab" id="click4">
                  <span class="d-none d-md-block">Duplication</span>
                  <span class="d-md-none">W</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span style="display: none;" id="bubble">{{bubbleData}}</span>
      <div class="card-body">
        <!-- Chart -->
        <div class="chart">
          <!-- Chart wrapper -->
          <div id="chartdiv" style="width: 100%;height:700px"></div>
        </div>
      </div>
      <div id="legend" style="color:white">
        <span id="colorTitle" style="margin-left: 10px;">Color: Reliability RatingSize: Bugs</span><br>
    
        <div class="legend-item">
          <div class="legend-marker" style="background: rgb(14,175,14)"></div>A
        </div>

        <div class="legend-item">
          <div class="legend-marker" style="background: rgb(180,215,32)"></div>B
        </div>
  
        <div class="legend-item">
          <div class="legend-marker" style="background: rgb(240,210,81)"></div>C
        </div>

        <div class="legend-item">
          <div class="legend-marker" style="background: rgb(239,140,58)"></div>D
        </div>

        <div class="legend-item">
        <div class="legend-marker" style="background: rgb(212,52,64)"></div>E
          <!-- <div class="legend-value">' + value + ' | ' + percent + '%</div> -->
        </div>

      </div>
    </div>
  </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}